*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 214);
}
#calculator{
    border: 2.5px solid rgb(28, 27, 27);
    border-radius: 11px;
    width: 350px;
    margin: 15vh 30vw;
    background-color: rgb(76, 95, 214);
}
#display{
    margin: 10px;
   width: 92%;
   font-size:65px;
   border-radius: 15px;
}
.buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 80px;
    height: 60px;
    margin: 4px;
    font-size: 30px;
    border-radius: 15px;
}